body {
    font-family: Arial, sans-serif;
}
.center-shoppinglist{
    margin-left: 120px;
    margin-right: 120px;
    width: auto;
    height: 2000px;
    border-radius: 20px;
    background-color:#ffda6a;
}
h1 {
    color: #333;
}

ul {
    list-style-type: none;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.types li {
    display: inline-block;
    text-align: center;
    height: 50px;
    width: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}

li a {
    display: block;
    padding: 10px;
    background-color: #eee;
    text-decoration: none;
    color: #333;
    border-radius: 4px;
}

li a:hover {
    background-color: #ccc;
}

.user-avatar {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.user-avatar:hover .dropdown-menu {
    display: block;
}
.center{
    margin-top: 10px;
}
.types{
    float: left;
    padding-right: 100px;
    width: 300px;
    height: 400px;
    padding-top: 20px;
}
.types-h2{
    text-align: center;
    color: #000000;
}
#container{
    margin-top: 50px;
    float: left;
    width: 600px;
    height: 400px;
    padding-top: 50px;
}